/MailOrchestra.REST/obj
/MailOrchestra.REST/bin
/MailOrchestra.WebApp/obj
/MailOrchestra.WebApp/bin
/MailOrchestra.Core/bin
/MailOrchestra.Core/obj
/MailOrchestra.WebApp/Data/outbox.json
/MailOrchestra.WebApp/Data/inbox.json
/MailOrchestra.TestApp/obj
/MailOrchestra.TestApp/bin
